<% if (messages.error) { %>
    <p class="error">
        <%= messages.error %>
    </p>
<% } %>

<% if (messages.success) { %>
    <p class="success">
        <%= messages.success %>
    </p>
<% } %>