/* Game page */
.svg-container{
	position: relative; 
	height: 0; 
	width: 100%; 
	padding: 0;
	padding-bottom: 50% 	/* 100% x 540/1080 */
}

.svg-content {
	position: absolute; 
	height: 100%; 
	width: 100%; 
	left: 0; 
	top: 0;
}
