<%- include('partials/head') %>

<body>

    <div class="form-container">
        <header class="join-header">
            <h1>Schnapsen</h1>
        </header>

        <main class="main-container">
            <p>404 Error - page not found</p>
            <a class="main-link" href="/">Back to homepage</a>
        </main>
    </div>

</body>

<%- include('partials/footer') %>