<%- include('partials/head') %>

<body>

    <div class="page-container page-container-admin">
        <header class="join-header">
            <h1>Schnapsen</h1>
            <hr>
            <h2>Admin page</h2>
        </header>

        <main class="main-container">
            <p><a class="main-link-dark" href="admin/users">Users</a></p>
            <p><a class="main-link-dark" href="admin/rooms">Active Rooms</a></p>

            <p><a class="back-link" href="/">Back</a></p>
        </main>

    </div>

</body>

<%- include('partials/footer') %>