<%- include('partials/head') %>

<body>

    <div class="form-container">
        <header class="join-header">
            <h1>Šnaps</h1>
        </header>
        <main class="main-form">
            <a class="main-link" href="/room/create">Create Game</a>
            <a class="main-link" href="/join-room">Join Game</a>
            <p><a href="/login">Login</a></p>
            <p><a href="/register">Register</a></p>
            <p><a href="/protected">protected</a></p>
            <p><a href="/protected-page">protected-page</a></p>
        </main>
    </div>

</body>

<%- include('partials/footer') %>