<%- include('partials/head') %>

<body>

    <div class="form-container">
        <header class="join-header">
            <h1>Schnapsen</h1>
        </header>

        <main class="main-container">
            <% if (userdata) { %>
                <h2>Welcome <%= userdata.username %>!</h2>
            <% } %>

            <a class="main-link" href="/room/create">Create Game</a>
            <a class="main-link" href="/join-room">Join Game</a>
            <hr>
            <a class="main-link" href="/settings">Settings</a>
            <a class="main-link" href="/logout">Logout</a>
        </main>
    </div>

</body>

<%- include('partials/footer') %>