<%- include('partials/head') %>

<body>
    <div class="page-container">
        <header class="join-header">
            <h1>Schnapsen</h1>
        </header>

        <main class="main-container">
            <% if (userdata) { %>
                <h2>Welcome <%= userdata.username %>!</h2>
            <% } %>

            <% if (userdata.isAdmin === true) { %>
                <a class="main-link" href="/admin">Admin</a>
                <hr>
            <% } %>

            <% if (userdata.isPlayer === true) { %>
                <a class="main-link" href="/room/create">Create Game</a>
                <a class="main-link" href="/join-room">Join Game</a>
                <hr>
            <% } %>
            
            <a class="main-link" href="/user-settings">Settings</a>
            <a class="main-link" href="/logout">Logout</a>
        </main>

    </div>
</body>

<%- include('partials/footer') %>