<%- include('partials/head') %>

<body>

    <div class="form-container">
        <header class="join-header">
            <h1>Schnapsen</h1>
        </header>
        <main class="main-container">

            <form action="/room/join">
                <input
                    type="text"
                    name="roomId"
                    id="roomId"
                    placeholder="Game #"
                    required
                />
                <button type="submit" class="btn">Join Game</button>
            </form>
        </main>
    </div>

</body>

<%- include('partials/footer') %>