<%- include('partials/head') %>

<body>

    <div class="form-container">
        <header class="join-header">
            <h1>Schnapsen</h1>
        </header>
        <main class="main-container">
            <form action="/login" method="POST">
                <div class="form-control">
                    <label for="username">Username</label>
                    <input
                        type="text"
                        name="username"
                        id="username"
                        placeholder="Enter name..."
                        required
                    />
                    <label for="password">Password</label>
                    <input
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Enter password..."
                        required
                    />
                </div>
                <button type="submit" class="btn">Login</button>
            </form>
            <p class="register-link"><a href="/register">Register</a></p>
        </main>
    </div>

</body>

<%- include('partials/footer') %>