<%- include('partials/head') %>

<body>

    <div class="page-container">
        <header class="join-header">
            <h1>Schnapsen</h1>
        </header>

        <main class="main-container">

            <div class="server-messages">
                <% if (messages.error) { %>
                    <p class="error">
                        <%= messages.error %>
                    </p>
                <% } %>

                <% if (messages.success) { %>
                    <p class="success">
                        <%= messages.success %>
                    </p>
                <% } %>
            </div>

            <form action="/login" method="POST">
                <div class="form-control">
                    <label for="username">Username</label>
                    <input
                        type="text"
                        name="username"
                        id="username"
                        placeholder="Enter name..."
                        required
                    />
                    <label for="password">Password</label>
                    <input
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Enter password..."
                        required
                    />
                </div>
                <button type="submit" class="main-link-dark">Login</button>
            </form>
            <p class="register-link"><a href="/register">Register</a></p>
        </main>
    </div>

</body>

<%- include('partials/footer') %>