<%- include('partials/head') %>

<body>

    <div class="form-container">
        <header class="join-header">
            <h1>Šnaps</h1>
        </header>
        <main class="main-form">
            <p>Protected page</p>
    </div>

</body>

<%- include('partials/footer') %>