<%- include('partials/head') %>

<body>

    <div class="page-container">
        <header class="join-header">
            <h1>Schnapsen</h1>
        </header>
        
        <main class="main-container">

            <div class="server-messages">
                <%- include('partials/messages') %>
            </div>

            <form action="/register" method="POST">
                <div class="form-control">
                    <label for="username">Username</label>
                    <input
                        type="text"
                        name="username"
                        id="username"
                        placeholder="Enter name..."
                        required
                    />
                    <label for="email">Email</label>
                    <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Enter email..."
                        required
                    />
                    <label for="password">Password</label>
                    <input
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Enter password..."
                        required
                    />
                    <label for="password2">Confirm password</label>
                    <input
                        type="password"
                        name="password2"
                        id="password2"
                        placeholder="Confirm password..."
                        required
                    />
                </div>
                <button type="submit" class="main-link-dark">Register</button>
            </form>
            <p><a class="back-link" href="/">Back</a></p>
        </main>
    </div>

</body>

<%- include('partials/footer') %>