<%- include('partials/head') %>

<body>

    <div class="form-container">
        <header class="join-header">
            <h1>Šnaps</h1>
        </header>
        <main class="main-form">
            <form action="/register" method="POST">
                <div class="form-control">
                    <label for="username">Username</label>
                    <input
                        type="text"
                        name="username"
                        id="username"
                        placeholder="Enter name..."
                        required
                    />
                    <label for="email">email</label>
                    <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Enter email..."
                        required
                    />
                    <label for="password">Password</label>
                    <input
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Enter password..."
                        required
                    />
                    <label for="password2">Confirm password</label>
                    <input
                        type="password"
                        name="password2"
                        id="password2"
                        placeholder="Confirm password..."
                        required
                    />
                </div>
                <button type="submit" class="btn">Register</button>
            </form>
        </main>
    </div>

</body>

<%- include('partials/footer') %>