@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
/* Main */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: #e9e7e7; }

hr {
  color: silver; }

.page-container {
  max-width: 480px;
  margin: 80px auto;
  color: #fff; }
  .page-container hr {
    margin: 1rem 0; }

.main-link {
  cursor: pointer;
  padding: 8px 12px;
  border: 0;
  font-size: 1.2rem;
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  margin: 2rem 0;
  background: #e9e7e7;
  color: #000; }
  .main-link:hover {
    opacity: 0.9; }

.main-link-dark {
  cursor: pointer;
  padding: 8px 12px;
  border: 0;
  font-size: 1.2rem;
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  margin: 2rem 0;
  background: #141414;
  color: #e9e7e7;
  font-size: 1.4rem; }
  .main-link-dark:hover {
    opacity: 0.9; }

.back-link {
  cursor: pointer;
  padding: 8px 12px;
  border: 0;
  font-size: 1.2rem;
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  margin: 2rem 0;
  background-color: #3f0000;
  color: #fff;
  display: inline; }
  .back-link:hover {
    opacity: 0.9; }

.register-link {
  margin-top: 20px; }
  .register-link a {
    color: #000;
    font-size: 18px; }

input[disabled] {
  cursor: not-allowed; }

.join-header {
  text-align: center;
  padding: 16px;
  background: #46812b;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.main-container {
  padding: 30px 40px;
  background: #509b2d;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }
  .main-container h2 {
    margin-bottom: 30px; }
  .main-container p {
    margin: 20px 0; }
  .main-container .form-control {
    margin-bottom: 20px; }
  .main-container label {
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem; }
  .main-container input {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    width: 100%; }
  .main-container select {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    width: 100%; }
  .main-container .btn {
    margin: 2rem 0;
    width: 100%; }
  .main-container .server-messages p {
    margin-bottom: 1rem;
    font-size: 1.4rem; }
  .main-container .server-messages .error {
    color: #fff; }
  .main-container .server-messages .success {
    color: black; }

.page-container-admin {
  max-width: 640px; }
  .page-container-admin .main-container {
    background: #fff;
    color: #000; }
    .page-container-admin .main-container h1 {
      color: #000; }
    .page-container-admin .main-container h3 {
      font-size: 2rem; }
  .page-container-admin label {
    font-size: 2rem; }
  .page-container-admin #table-admin {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 560px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }
    .page-container-admin #table-admin thead tr {
      background-color: #1d1d1d;
      color: #ffffff;
      text-align: left; }
    .page-container-admin #table-admin th {
      padding: 0.6rem 1rem; }
    .page-container-admin #table-admin td {
      padding: 1rem 1rem; }
    .page-container-admin #table-admin tbody tr {
      border-bottom: thin solid #dddddd; }
    .page-container-admin #table-admin tbody tr:nth-of-type(even) {
      background-color: #f3f3f3; }
    .page-container-admin #table-admin tbody tr:last-of-type {
      border-bottom: 2px solid #1d1d1d; }

/* Play page */
.svg-container {
  position: relative;
  height: 0;
  width: 100%;
  padding: 0;
  padding-bottom: 50%; }

.svg-content {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0; }

/* Modal */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; }

.modal-content {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.5rem;
  background-color: #fff;
  padding: 0.5rem;
  width: 50%;
  border-radius: 8px;
  text-align: center; }

.modal-close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  background-color: lightgray; }
  .modal-close-button:hover {
    background-color: darkgray; }

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; }

@media only screen and (min-width: 320px) {
  .modal-content {
    font-size: 0.5rem; }
  .modal-close-button {
    width: 0.5rem;
    line-height: 0.5rem; } }

@media only screen and (min-width: 576px) {
  .modal-content {
    font-size: 0.75rem; }
  .modal-close-button {
    width: 0.75rem;
    line-height: 0.75rem; } }

@media only screen and (min-width: 768px) {
  .modal-content {
    font-size: 1rem; }
  .modal-close-button {
    width: 1rem;
    line-height: 1rem; } }

@media only screen and (min-width: 992px) {
  .modal-content {
    font-size: 1.25rem; }
  .modal-close-button {
    width: 1.25rem;
    line-height: 1.25rem; } }

@media only screen and (min-width: 1200px) {
  .modal-content {
    font-size: 1.5rem; }
  .modal-close-button {
    width: 1.5rem;
    line-height: 1.5rem; } }

.modal_button {
  display: inline-block;
  margin: 0.5rem 1rem;
  min-width: 5rem;
  cursor: pointer;
  padding: 8px 12px;
  background-color: lightgray;
  color: black;
  border: 0;
  text-decoration: none;
  text-align: center; }
  .modal_button:hover {
    background-color: darkgray; }
