@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Index page */
:root {
	--dark-color-a: #46812b;
	--dark-color-b: #509b2d;
	--light-color: #e9e7e7;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
}

.main-link{
	cursor: pointer;
	padding: 8px 12px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 18px;
	display: block;
	text-decoration: none;
	text-align: center;
	margin: 20px 0;
}

.btn {
	cursor: pointer;
	padding: 8px 12px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 18px;
}

.form-container {
	max-width: 480px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 16px;
	background: var(--dark-color-a);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.main-form {
	padding: 30px 40px;
	background: var(--dark-color-b);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.main-form p {
	margin-bottom: 20px;
}

.main-form .form-control {
	margin-bottom: 20px;
}

.main-form label {
	display: block;
	margin-bottom: 5px;
}

.main-form input {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.main-form select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.main-form .btn {
	margin-top: 20px;
	width: 100%;
}


/* Game page */
.svg-container{
	/*
    width: 1080px;
	height: 760px;*/
	position: relative; 
	height: 0; 
	width: 100%; 
	padding: 0;
	/*padding-bottom: 70% 	/* 100% x 760/1080 */
	padding-bottom: 50% 	/* 100% x 540/1080 */
}

.svg-content {
	position: absolute; 
	height: 100%; 
	width: 100%; 
	left: 0; 
	top: 0;
}


/* Modal */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: relative;
    top: 20%;
    left: 50%;
	transform: translate(-50%, -50%);
	font-size: 18px;
    background-color: white;
    padding: 10px;
    width: 50%;
	border-radius: 8px;
}
.close-button {
    float: right;
    width: 18px;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}